target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google-services.json
**/node_modules/
**/node/
**/*.releaseBackup
**/*.tagBackup
**/*.nextReleaseBackup
**/*.releaseProps
**/*.tagProps
**/*.nextReleaseProps
**/release.properties
**/pom.xml.releaseBackup
**/pom.xml.tagBackup
**/pom.xml.nextReleaseBackup
**/pom.xml.backup
**/pom.xml.versionsBackup
**/pom.xml.tag
**/pom.xml.nextRelease
**/release.properties
**/pom.xml.releaseBackup
**/pom.xml.tagBackup
**/pom.xml.nextReleaseBackup
**/pom.xml.backup
**/pom.xml.versionsBackup
**/pom.xml.tag
**/pom.xml.nextRelease

# IDE
.idea/
*.iml
*.iws
.project
.settings/
.classpath
.nb-gradle/
.factorypath
.vscode/
bin/
